<app-navbar></app-navbar>
<div class="header-content container pb-5">

    <div class="header-content-box row d-flex align-items-center">
        <div class="header--left-side col-12 col-lg-6">
            <div class="bg-vector">
                <img src="./../../assets/images/bg-vector.png" alt="todo header image">
            </div>
        </div>
        <div class="header--right-side col-12 col-lg-6">
            <p class="header--right-title">
                There's a better way to manage your day, Welcome to Daily Goals. <span>(todo list)</span>
            </p>
            
            <p class="header--right-desc">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique nostrum dicta officia facilis eum totam cum obcaecati placeat id voluptate.
            </p>

            <button class="get-started" routerLink="/todo">get started</button>
        </div>
    </div>


</div>

<app-footer></app-footer>