@import '../styles/mixins.scss';

// Header Style..



.header-content-box{
    min-height: calc(100vh - 60px);

    .header--left-side{
      .bg-vector{
        
        img{
          width:100%;
        }
      }
    }
    
    .header--right-side{

      background: #fff;
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0rem 3rem;

      p{width:100%;}
      p.header--right-title{
        font-size: 2rem;
        font-weight: bold;
        color: black;
        
        span{
          font-size: 1rem;
          color: #555;
        }
      }
      
      p.header--right-desc{
        font-size: 1.3rem;
        color: #606d79;
      }

      .get-started{
        border: none;
        padding: 1rem 0rem;
        border-radius: 8px;
        box-shadow: -2px 4px 15px 0px rgba(106, 218, 255, 0.160784);
        color: #fff;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        outline: none;
        transition: .5s all;
        background: #6c8eff;
        background: rgb(108,142,255);
        background: -moz-linear-gradient(left, rgba(108,142,255,1) 0%, rgba(65,70,255,1) 100%);
        background: -webkit-linear-gradient(left, rgba(108,142,255,1) 0%,rgba(65,70,255,1) 100%);
        background: linear-gradient(to right, rgba(108,142,255,1) 0%,rgba(65,70,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c8eff', endColorstr='#4146ff',GradientType=1 );
        
        width: 100%;
        background-size: calc(100% + 237px);
        &:hover{
          background-position-x:-300%;
        }
      }
    }
  } 

