<app-navbar></app-navbar>
<div class="header-content">
    <div class="header-content-box">
        <div class="header--left-side">
            <div class="bg-vector">
                <img src="https://i.ibb.co/mN1GxZJ/bg-vector.png" alt="todo header image">
            </div>
        </div>
        <div class="header--right-side">
            <p class="header--right-title">
                there's a better way to manage your day, Welcome to Daily Goals. <span>(todo list)</span>
            </p>
            
            <p class="header--right-desc">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique nostrum dicta officia facilis eum totam cum obcaecati placeat id voluptate.
            </p>

            <button class="get-started" routerLink="/todo">get started</button>
        </div>
    </div>


</div>

<app-footer></app-footer>