<footer class="footer-container container-fluid pt-3 pb-3">
  <div class="row ">
    <p class="col-12 d-flex justify-content-center">
      Made with love by ahmed atef.
    </p>
  </div>
  <div class="row">
    <ul class="social-box col-12  d-flex justify-content-center">
      <li>
        <a href="https://www.linkedin.com/in/ahmed-atef-73b3b5b9" target="_blank">
        LinkedIn
        </a>
      </li>
      <li>
        <a href="https://www.hackerrank.com/ahmedatef" target="_blank">
        HackerRank
        </a>
      </li>
      <li>
        <a href="https://codepen.io/a7md940/" target="_blank">
          CodePen
        </a>
      </li>
      <li>
        <a>
          Projects
        </a>
      </li>
    </ul>
  </div>
    
  </footer>