<div class="container-fluid">
    <div class="row">
        <div class="col-12 navbar-container">
            <nav>
                <div class="nav-left">
                    <span *ngIf="loggedIn.isLoggedIn()">hi, {{loggedIn.currentUser.user.username}} </span>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li *ngIf="!loggedIn.isLoggedIn()"><a routerLink="/login">Login</a></li>
                        <li *ngIf="!loggedIn.isLoggedIn()"><a routerLink="/signup">Register</a></li>
                        <li *ngIf="loggedIn.isLoggedIn()"><a (click)="loggedIn.logOut()">Logout</a></li>
                    </ul>
                </div>

                <div class="nav-right">
                    <ul *ngIf="loggedIn.isLoggedIn()">
                        <li class="settings">
                            <a class="settings-toggler"
                            (click)="openSettings()">
                                settings
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                            <ul class="settings-drop-down" *ngIf="settings">
                                <li>
                                    <a class="profile-picture" 
                                    (click)="openSettings()"
                                    routerLink="/profile">profile picture</a>
                                </li>
                                <li>
                                    <a (click)="logout($event)"
                                        class="log-out"
                                        >logout</a>
                                </li>
                            </ul>
                            
                        </li>
                        <li class="image-profile">
                            <img [src]="loggedIn.currentUser.userImage" alt="user image">
                        </li>
                    </ul>
                </div>
                
            </nav>
        </div>
    </div>
</div>