
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: relative;
    padding: 0rem 1.2rem;

    & > div{
        display:flex;
        min-height: 100%;
    }

    .logo{
        max-width: 100px;
        margin-right: 1rem;

        img{
            width:100%;
        }
    }

    ul{
        min-height: 60px;
        display:flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin:0rem 0rem;
        padding: 0;
        
        li{
            margin: 0rem .5rem;
            a{
                cursor: pointer; 
                color: #007bff;
            }
        }
    }

    .nav-right{
        & ul{
            li{
                a.sign-up-btn {
                    cursor: pointer;
                    color: #fff;
                    background: rgb(0, 123, 255);
                    padding: .4rem .6rem;
                    border-radius: 5px;
                    box-shadow: 1px 3px 5px 1px rgba(0, 123, 255,.1);
                }
                a.log-in-btn{
                    color: var(--grey);
                }
            } 
        } 
        .settings{
            position: relative;
            display: flex;
            align-items: center;
        }

        .settings-drop-down{
            position: absolute;
            z-index: 3;
            padding: .6rem .4rem;
            box-sizing: content-box;
            width: 159px;
            height: 61px;
            background: #fdfdfd;
            display: list-item;
            right: 0px;
            top: 26px;
            border-radius: 6px;
            box-shadow: -6px 8px 20px -1px rgba(0,0,0,.1);
            
            li:not(:last-child){
                border-bottom: 1px solid #eee;
            }

            li{
                padding: .3rem 0rem;
            }
        }
    }

    .image-profile{
        width:50px;
        height: 50px;
        position: relative;
        border-radius: 50%;
        border: 2px solid #2c67fc;
        overflow: hidden;
       img{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            width: 158% !important;

        }
    }
}
