
  <div class="result"></div>
  <div class="container-fluid px-0 d-flex">
    <p class="c-tooltip">angular app repo</p>
    
  <input type="checkbox" hidden id="github-trigger">  
  <div id="github-container-box">
    <div class="rounded"></div>
   <div class="icon-container">
      <a href="https://github.com/a7md940/todo-nodejs" target="_blank" class="fab fa-node-js"></a>
    <a href="https://github.com/a7md940/todo-nodejs" target="_blank" class="fab fa-angular"></a>
    <label class="fab fa-github" for="github-trigger" aria-hidden="true"></label>
     <label for="github-trigger" class="fas fa-times"></label>
    </div>
  </div>
  
  </div>  
  