
<input type="checkbox" id="update-checker" >
<div class="update-to-do">
  <form *ngIf="updateItemInput">
      
    <label for="update-checker" #updateChackerLabel>
      <i class="fa fa-times-circle close-update"></i>
    </label>

    <input
    [(ngModel)]="updateItemInput.title"
    name="title"
    #updateInput
    (keyup)="update($event, updateItemInputId.value, updateInput.value)"
      >

    <input type="text" 
    [(ngModel)]="updateItemInput._id" 
    name="id" 
    #updateItemInputId 
    style="display:none;"
    >

    <p style="color:#eee">{{updateAPIErr}}</p>
  </form>
</div>


<div class="todo-container">
  <div class="todo--heading">
    <div class="todo--heading__day">{{day}}</div>
    <div class="todo--heading__date">
      {{month}} {{dayDate}}, {{year}}
    </div>
    <div class="todo--heading__date">
      {{hours}} {{minutes}}, {{seconds}}
    </div>
  </div>

  <div class="todo--add" *ngIf="isloged.isLoggedIn() else noToDO">
    <form  name="ToDoTitle">
      <input 
          type="text" 
          #f 
          name="title" 
          (keyup.enter)="addToList(f)" 
          placeholder="Add task..." 
          class="form-control" 
          autocomplete="off">
      <!-- <div class="add-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span> 
      </div> -->
      
    </form>
    
  </div>

<div class="todo--list" *ngIf="isloged.isLoggedIn()">
  <div  *ngIf="toDoExist else addSometoDo" >
    <div class="search-input">
        <input type="text" 
        class="search"
        autocomplete="off"
        placeholder="Search.."
        [(ngModel)]="searchInput"
        (input)="search()" 
        name="search">
    </div>
  </div>
</div>

  <div style="display:flex;justify-content: center;"*ngIf="isloged.isLoggedIn()">
    <div class="todo--list" *ngIf="toDoExist else addSometoDo" >
      <div class="todo--item--container" *ngFor="let item of toDoList" >
        
        <div class="item-container">
          <div class="item-checkbox">
              <!-- <input type="checkbox" 
              class="form-control" 
              (click)="labelChecked($event, item)"
              
              > -->
              <div class="custom-checkbox" 
              (click)="completedToDo(item)"
              [ngClass]="item.checked?'custom-checkbox-right':''"></div>
          </div>
          <div>
              <p class="item-title" [ngClass]="item.checked?'is-checked':''">{{item.title}}</p>
              <!-- <p class="item-desc">the description here</p>      -->
          </div>
        </div>
        
        <div class="delete-icon">
            <label for="update-checker" (click)="getItemToUpdate(item._id);">
              <i class="fa fa-pencil-square-o"></i>
            </label>
          <i class="fa fa-trash-o" (click)="deleteItem(item._id)"></i>
        </div>
        
        

      </div>
    </div>
  </div>
</div>

<ng-template #addSometoDo>
    <p style="color: grey;">Add Some TODO.</p>
</ng-template>
<ng-template #noToDO>
    <p style="color: grey;">Sorry, you have to login to add todo.</p>
</ng-template>
