.singup-page{}
.logo-img{
  width:100px !important;
  padding-top: .5rem;
  padding-bottom: .5rem;
  outline: none;

  img{
    width:100%;
    cursor: pointer;
  }
}

.signup-container{
  min-height: calc(100vh - 64px);
  position: relative;

  .image-container{
    .heading{
      p{
        font-size: 1.8rem;
        span{
          color: #03f;
          font-weight: bold;
        }
      }
    }
    
    .illustraion-img{
      
      img{
        width:90%;
        margin: 0 auto;
        display:block;
      }
    }
    
  }
  .form-container{

      text-align:center;
    
    
      form{
        width: 100%;
        margin: 0 auto;
        text-align:center;
        
        input{
          border-radius: 5px;
          border: 1px solid #dfe1e3;
          padding: 1.5rem 2rem;
          margin: .5rem auto;
          width:100%;
          outline:none;
          font-size: 1.5rem;
          
          &::-webkit-input-placeholder{
            font-size: 1.3rem;
            color:#aaa;
          }
        }
      }
    }
  
  .buttons{
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    .signup{
    margin: 0 .5rem;
    padding: 1.5rem 0rem;
    width:180px;
    text-align: center;
    border: none;
    color: #fff;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 1.1rem;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    background: #6c8eff;
    background: linear-gradient(to right,#6c8eff 0,#4146ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c8eff', endColorstr='#4146ff', GradientType=1 );
    box-shadow: -2px 4px 10px 5px rgba(106,218,255,.160784);
    transition: .3s all;
      
      &:hover{
        background-position: 180px
      }

    }
    
    .signin{
      color:#03f;
      text-decoration: underline;
      cursor: pointer;
      margin-left: 0.4rem;
    }
  }
}

.disabled{
  background: #6c8eff !important;
  opacity: .8;
}

.input-error{
  border-color: red !important;
}