<div class="signup-container">
  <form #signup [formGroup]="signupForm" (submit)="submitSignUp()">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" 
        formControlName="username"
        autocomplete="off"
        [errorStateMatcher]="matcher">
        <mat-error *ngIf="username.hasError('minlength') && !username.hasError('required')">
          username should be minimum 3 charachters.
        </mat-error>
        <mat-error *ngIf="username.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" 
               [formControl]="email"
               autocomplete="off"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" 
        [formControl]="password"
        type="password"
        autocomplete="off"
        [errorStateMatcher]="matcher">
        <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
            Password should be minimum 6 charachters.
          </mat-error>
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
<div *ngIf="APIError"> 
  <mat-error>
    {{resError}}
  </mat-error>
</div>
    <div>
      <button mat-raised-button color="primary"
       type="submit"
       [disabled]="!signupForm.valid"
       >SignUp</button>
       <button mat-raised-button color="accent"
       type="button"
       routerLink="/login"
       >Login</button>
    </div>
  </form>
  

  </div>