<div class="alert-container" *ngIf="confirmIsActive">
  <div class="alert--header">
    <i class="fa fa-exclamation-triangle"></i>

  </div>
  <div class="alert--footer">
    <p class="alert--title">WARNING</p>
    <p class="alert--desc">{{msg}}</p>
    <form class="alert--buttons">
      <button class="alert--no alert-btn" 
      #no
      (click)="confirm($event)"
      >No</button>
      <button class="alert--yes alert-btn" 
      #yes
      (click)="confirm($event)"
      >Yes</button>
      
    </form>
  </div>
</div>
<!-- 
      (click)="confirmNo($event)"
      (click)="confirmYes($event)"
 -->