<app-navbar></app-navbar>

<!-- {{(profile.getUserTodos() | async).allTodos.length}}-->
<p>
  <strong>All Todos.</strong>
  {{allTodos?.length}} 
</p>

<p>
  <strong>Completed Todos.</strong>
  {{completedTodos?.length}}
</p>

<p>
  <strong>{{loggedIn.currentUser.user.username}}</strong>
</p>

<div class="image">
  <img [src]="loggedIn.currentUser.userImage" alt="" class="w-25">
</div>

<div class="profile-container">
  <form class="image-form" (submit)="updateImageProfile($event, image)">
    <input (change)="onInputChange(image)" #image type="file" name="image" id="">
    <button type="submit">update image</button>
  </form>

  
  <div class="progress-bar-container" *ngIf="progressBarPercentage">
    <!-- <div class="loading-spinner">


  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
 <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
   <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
   <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
   <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
 </rect>
 <rect x="8" y="10" width="4" height="10" fill="#333"  opacity="0.2">
   <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
   <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
   <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
 </rect>
 <rect x="16" y="10" width="4" height="10" fill="#333"  opacity="0.2">
   <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
   <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
   <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
 </rect>
</svg>

    </div> -->

    <p class="progress-number">{{progressBarPercentage}}</p>
    <div class="progress-bar" [style.width]="progressBarPercentage"></div>
  </div>
  <div class="image-view-box" *ngIf="userImage">
    <img [src]="userImage" alt="">
  </div>
</div>
<app-footer></app-footer>