<app-navbar></app-navbar>

<div class="container" *ngIf="loggedIn.currentUser.userImage">
  <div class="row">
    <div class="col-12 col-lg-6 offset-lg-3 d-flex justify-content-center">
      <div class="user-info-container d-flex flex-column align-items-center">
        <div class="image-reader text-center">
          <img [src]="loggedIn.currentUser.userImage" alt="">
          <div class="username-info">
            <strong>{{loggedIn.currentUser.user.username}}</strong>
          </div>
          <div class="add-icon" (click)="this.showImageForm = true;"></div>
        </div>
        <div class="info-details pb-4">
          <ul class="d-flex list-unstyled justify-content-between">
            <li>
              <div class="item">
                <i>Completed</i>
              <strong>{{completedTodos?.length}}</strong>
              </div>
            </li>
            <li>
              <div class="item">
                <i>Pending</i>
              <strong>{{allTodos?.length - completedTodos?.length}}</strong>
              </div>
              
            </li>
            <li>
              <div class="item">
                <i>All</i>
              <strong>{{allTodos?.length}}</strong>
              </div>
              
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- upload image form -->
<div class="image-upload-form" *ngIf='showImageForm'>
  <div class="container-fluid section-container">

    <!-- close icon -->
    <i class="fa fa-times" aria-hidden="true" (click)="this.showImageForm = false;"></i>

    <!-- row -->
    <div class="row h-100 align-items-center">
      <form class="
      col-10 
      offset-1 
      col-md-6 
      offset-md-3 
      d-flex 
      flex-column 
      align-items-center 
      justify-content-center 
      upload-form-container"
      (submit)="updateImageProfile($event, image)"
      >
        
        <div class="image-view">

          <p>Change profile picture</p>

          <div class="image-render">

            <!-- pick image zone -->
            <div class="pick-image" (click)="image.click()">
              <!-- input to triggre when pock zone clicked -->
              <input (change)="onInputChange(image)" 
              #image 
              type="file" 
              name="image"
              hidden>
              <img *ngIf='userImage' [src]="userImage" alt="">  
            </div>

            
          </div>

          <!-- progress bar -->
          <div class="progress-bar-container" style="width: 100%;">
              <p class="progress-number" >{{progressBarPercentage}}</p>
              <div class="progress-bar" 
              [style.width]="progressBarPercentage"
              ></div>
              
          </div>

        </div>
        
        <div class="buttons-section">

          <!-- image type error -->
          <p *ngIf="invalidFileTypeErr" style="color:red;"> invalid file type.</p>

          <!-- image updated successfully. -->
          <p class="text-center update-success" *ngIf="progressBarPercentage == (100+'%')">
            Update done, window will close automatically.
          </p>

          <div class="upload-button">
            <button type="submit">Upload</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- upload image form -->


<!-- Old image form -->
<!-- <div class="profile-container">
  <form class="image-form" (submit)="updateImageProfile($event, image)">
    <input (change)="onInputChange(image)" #image type="file" name="image" id="">
    <button type="submit">update image</button>
  </form>
</div> -->



<app-footer></app-footer>
