/* You can add global styles to this file, and also import other style files */
// angular material..
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Limelight');
@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import './app/styles/mixins.scss';


:root{
    @include mobile(){
        font-size: 10px;
    }
}


body{
  min-height:100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;
  top:0px
 }

body::after{
  content: '';
  position: absolute;
  // width: 100%;
  // height: 100%;
  top:0;
  left:0;
  bottom:0;
  right:0;
  // background-image: url('assets/images/social_media_pattern.png');
  // background-repeat: repeat;
  opacity: .02;
  top: 0;
  z-index: -1;
}

// bootstrab overriding 
div[class^="col-"]{
  padding: 0px !important;
}

.container-fulid {
  
}

// confirm style
.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}

 /* mat-confirm-dialog (customised dialog) */
 .confirm-dialog-container .mat-dialog-container {
  border-radius: .25em .25em .4em .4em;
  padding: 0px;
  overflow: unset !important;
}
.confirm-dialog-container .content-container{
  margin: 5px 5px 15px 5px;
  color: #8f9cb5;
  display: flex;
}
